<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large" color="light"><b>SJC Student Forum</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            size="large"
            slot="icon-only"
            name="menu-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list *ngIf="myPosts.length > 0">
    <ion-item detail="true" button *ngFor="let item of myPosts">
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>Posted on {{item.postedOn | date:'medium'}}</p>
        <p>
          <ion-note>{{item.likes.count || '0'}} Like</ion-note> |
          <ion-note>{{item.saved.count || '0'}} Saved</ion-note> |
          <ion-note>{{item.comments.length || '0'}} Comments</ion-note>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="align-middle ion-padding" *ngIf="myPosts.length===0">
    <img class="no-data-img" src="assets/No data-pana.svg" alt="" srcset="" />
    <ion-note>No Saved Post Found</ion-note>
  </div>
</ion-content>
