.bg-picker {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50px;
  border: 4px solid whitesmoke;
}

.bg-container {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow: auto;
}

.active {
  border: 0px solid whitesmoke;
  content: "0";
}

.post-banner-bg {
  height: 220px;
  // max-height: 220px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;

  h2 {
    overflow-y: hidden;
    max-height: -webkit-fill-available;
    text-transform: capitalize;
    text-align: center;
  }
}

.post-title {
  padding: 0 10px;
}
