<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add New Post</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/menu-layout/tab-layout/home">
        <ion-icon
          size="large"
          slot="icon-only"
          name="arrow-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="btn" color="light" (click)="isPreviewVisible=true">
        <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p><ion-label>Select Theme</ion-label></p>
  <div class="bg-container">
    <div
      *ngFor="let bg of bgColors"
      class="bg-picker"
      [ngStyle]="{background: bg}"
      (click)="this.selectedColor=bg"
    ></div>
  </div>
  <br />
  <ion-item fill="outline">
    <ion-label position="floating">Title</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="title"
      placeholder="Enter text"
      [clearInput]="true"
    ></ion-input>
  </ion-item>
  <br />
  <ion-label>Description</ion-label>
  <quill-editor
    [(ngModel)]="description"
    [sanitize]="true"
    [format]="'html'"
    [theme]="'snow'"
    [readOnly]="false"
    [style]="{'height':'250px'}"
  >
  </quill-editor>

  <br />
  <br />
  <ion-button
    class="btn-lg"
    shape="round"
    size="large"
    expand="full"
    color="primary"
    >Save</ion-button
  >
</ion-content>

<ion-modal trigger="open-modal" [isOpen]="isPreviewVisible">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Post Preview </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isPreviewVisible=false">
            <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <!-- <quill-view-html [content]="myPostContent" theme="snow"></quill-view-html> -->
      <quill-view
        [content]="description"
        format="html"
        theme="snow"
      ></quill-view>
    </ion-content>
  </ng-template>
</ion-modal>
