<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large" color="light"><b>Student Forum</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            size="large"
            slot="icon-only"
            name="menu-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        class="btn"
        color="light"
        routerLink="/menu-layout/add-edit-post"
      >
        <ion-icon name="add-outline"></ion-icon>
        Feed
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <h4 class="ion-padding ion-no-margin">
      Welcome back <ion-text color="primary">{{userInfo.name}}</ion-text>
      <br />
      <ion-note>{{getGreeting()}}</ion-note>
    </h4>
    <div class="container">
      <ng-container *ngFor="let post of postList;let index=index">
        <ion-list class="post-container">
          <ion-item lines="full">
            <ion-avatar slot="start" [ngStyle]="{background: '#7c5dfa'}">
              <ion-text>{{post.postedBy.name.slice(0,2)}}</ion-text>
            </ion-avatar>
            <ion-label>
              <h2>{{post.postedBy.name}}</h2>
              <p>{{post.postedOn | date:'medium'}}</p>
            </ion-label>
            <ion-icon
              id="more-button-{{post.id}}"
              slot="end"
              name="ellipsis-vertical"
            ></ion-icon>
          </ion-item>

          <ion-popover
            trigger="more-button-{{post.id}}"
            [dismissOnSelect]="true"
            showBackdrop="false"
            triggerAction="click"
          >
            <ng-template>
              <ion-content>
                <ion-item
                  [button]="true"
                  routerLink="/menu-layout/post-view/{{post.id}}"
                  >View Post</ion-item
                >
                <ion-item
                  [button]="true"
                  routerLink="/menu-layout/post-view/{{post.id}}"
                  >Comment</ion-item
                >

                <ion-item
                  *ngIf="userInfo?.role==='ADMIN'"
                  [button]="true"
                  (click)="deletePost(post,index)"
                >
                  <ion-text color="danger"> Delete </ion-text>
                </ion-item>
              </ion-content>
            </ng-template>
          </ion-popover>

          <div
            *ngIf="post.bgImg"
            routerLink="/menu-layout/post-view/{{post.id}}"
          >
            <p class="post-title">{{post.title}}</p>
            <img class="post-image" src="{{post.bgImg}}" />
          </div>
          <div
            *ngIf="!post.bgImg"
            routerLink="/menu-layout/post-view/{{post.id}}"
            class="post-banner-bg"
            [ngStyle]="{background: post.bgColor}"
          >
            <h2>{{post.title}}</h2>
          </div>

          <ion-item lines="none" class="action-item">
            <ion-buttons slot="start">
              <ion-button (click)="likeButton(post)">
                <ion-icon
                  *ngIf="!post.likes[this.userInfo.id]"
                  slot="icon-only"
                  name="heart-outline"
                ></ion-icon>

                <ion-icon
                  *ngIf="post.likes[this.userInfo.id]"
                  slot="icon-only"
                  name="heart"
                  color="danger"
                ></ion-icon>
              </ion-button>
              <ion-button routerLink="/menu-layout/post-view/{{post.id}}">
                <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
              </ion-button>
              <!-- <ion-button>
                <ion-icon slot="icon-only" name="navigate-outline"></ion-icon>
              </ion-button> -->
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-note>{{post?.attachments?.length}} Files</ion-note>
              <ion-button>
                <ion-icon
                  slot="icon-only"
                  name="document-attach-outline"
                ></ion-icon>
              </ion-button>
              <ion-button (click)="saveButton(post)">
                <ion-icon
                  *ngIf="!post.saved[this.userInfo.id]"
                  slot="icon-only"
                  name="bookmark-outline"
                ></ion-icon>

                <ion-icon
                  *ngIf="post.saved[this.userInfo.id]"
                  slot="icon-only"
                  name="bookmark"
                  color="warning"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>

          <div
            class="action-item-info"
            routerLink="/menu-layout/post-view/{{post.id}}"
          >
            <div>{{post?.likes?.count || '0'}} Likes</div>
            <div class="row-item">
              <div>{{post?.comments?.length}} Comments</div>
              <!-- <div class="spliter">|</div>
              <div>10 attachments</div> -->
              <div class="spliter">|</div>
              <div>{{post?.saved?.count || '0'}} Saved</div>
            </div>
          </div>
        </ion-list>
      </ng-container>
    </div>
  </div>
</ion-content>
