.login-container {
  padding: 24px;
  height: 100%;
  //   background-image: url("https://img.freepik.com/free-vector/pink-watercolor-leaves-background_23-2148907681.jpg?w=1060&t=st=1674933472~exp=1674934072~hmac=490cfd97e0fe598e99e9383e0670bb9a113dde98366ef192a6891eb4d7b26027");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: initial;
  background-repeat: repeat;
}

.banner-image {
  img {
    width: 100%;
    min-height: 350px;
  }
}

.row-space {
  margin-top: 30px;
  margin-bottom: 30px;
}
