<ion-content class="ion-padding">
  <div class="container-bg">
    <div class="full-width text-align-center">
      <h2>Welcome to</h2>
      <h2><ion-text color="primary">College Forum</ion-text></h2>
      <p>
        <ion-text color="medium"
          >Join the conversation and make your voice heard in our
          community.</ion-text
        >
      </p>
    </div>
    <div class="full-width">
      <img src="assets/Learning-cuate.svg" alt="" srcset="" />
    </div>
    <div class="full-width">
      <ion-button
        class="btn-lg"
        shape="round"
        fill="outline"
        size="large"
        expand="full"
        routerLink="/login"
        >Login
      </ion-button>
      <br />

      <ion-button
        class="btn-lg"
        shape="round"
        size="large"
        expand="full"
        routerLink="/register"
        >Join with us</ion-button
      >
    </div>
  </div>
</ion-content>
