.container-bg {
  height: 100%;
  // background-image: url("../../assets/v960-ning-05.jpg");
  background-size: 100% 100%;
  // background-color: #7c5dfa;
  //   background: url("../../assets/4853433.jpg");
  //   background-image: linear-gradient(
  //       to bottom,
  //       rgba(245, 246, 252, 0.22),
  //       rgb(124 93 250 / 10%)
  //     ),
  //     url("../../assets/4853433.jpg");
  background-size: cover;
  // background-color: rgb(124 93 250 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
