<ion-content class="ion-padding">
  <div class="container-bg">
    <div class="full-width text-align-center">
      <h2>Welcome to</h2>
      <h2><ion-text color="primary">SJC Student Forum</ion-text></h2>
      <p><ion-text color="medium">Explore more</ion-text></p>
    </div>
    <div class="full-width">
      <img src="assets/Learning-cuate (1).svg" alt="" srcset="" />
      <!-- <img
        src="https://img.freepik.com/free-vector/group-therapy-illustration_74855-5516.jpg?w=1380&t=st=1674939177~exp=1674939777~hmac=ded5852839c08adfa07b0290b65cc5633bf08082e724cd16174f9ae7bb98b7e6"
        alt=""
        srcset=""
      /> -->
    </div>
    <div class="full-width">
      <ion-button
        class="btn-lg"
        shape="round"
        fill="outline"
        size="large"
        expand="full"
        routerLink="/student-login"
        >Login as Student</ion-button
      >
      <br />

      <ion-button
        class="btn-lg"
        shape="round"
        size="large"
        expand="full"
        routerLink="/staff-login"
        >Login as Staff</ion-button
      >
    </div>
  </div>
</ion-content>
