<ion-content class="ion-padding">
  <div class="login-container">
    <div class="banner-image">
      <img src="assets/Computer login-pana.svg" />
    </div>
    <div [formGroup]="loginForm">
      <h2>Login into your account</h2>
      <div class="row-space">
        <ion-item fill="outline" shape="round">
          <ion-label position="floating">Email</ion-label>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input
            size="small"
            placeholder="Enter email"
            [clearOnEdit]="false"
            [clearInput]="true"
            formControlName="email"
          ></ion-input>
        </ion-item>
      </div>
      <div class="row-space">
        <ion-item fill="outline" shape="round">
          <ion-label position="floating">Password</ion-label>
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-icon
            (click)="handlePasswordToggle()"
            name="{{passwordVisibility ? 'eye-outline' : 'eye-off-outline'}}"
            slot="end"
          ></ion-icon>
          <ion-input
            size="small"
            type="{{passwordVisibility ? 'text' : 'password'}}"
            placeholder="Enter Password"
            [clearOnEdit]="false"
            [clearInput]="true"
            formControlName="password"
          ></ion-input>
        </ion-item>
      </div>
      <div class="row-space">
        <ion-button
          class="btn-lg"
          size="large"
          shape="round"
          expand="full"
          (click)="doLogin()"
          >Login
          <ion-icon slot="start" name="finger-print-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="row-space">
        <ion-button
          class="btn-lg"
          size="large"
          shape="round"
          expand="full"
          fill="outline"
          routerLink="/startup"
        >
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          Back
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
