<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large" color="light"><b>College Forum</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            size="large"
            slot="icon-only"
            name="menu-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar
      [debounce]="1000"
      animated="true"
      placeholder="Type min 3 letter to search"
      inputmode="search"
      type="text"
      (ionChange)="searchValue($event)"
      enterkeyhint="search"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="align-middle" *ngIf="!noResult && searchResult.length === 0">
    <img
      class="no-data-img"
      src="assets/File searching-cuate.svg"
      alt=""
      srcset=""
    />
    <ion-note> <h6>Search for posts by keyword or topic</h6></ion-note>
  </div>

  <div class="align-middle" *ngIf="!searching &&  noResult">
    <img
      class="no-data-img"
      src="assets/File searching-pana.svg"
      alt=""
      srcset=""
    />
    <ion-note>
      <h6 class="text-center">
        We're sorry, we couldn't find any results for your search.
      </h6>
    </ion-note>
  </div>

  <ng-container *ngIf="!searching">
    <ion-item
      *ngFor="let post of searchResult"
      detail="true"
      button
      routerLink="/menu-layout/post-view/{{post.id}}"
    >
      <ion-label class="ion-text-wrap">
        <h2>{{post.title}}</h2>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>
