<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- <ion-title size="large" color="light"><b>SJC Student Forum</b></ion-title> -->
    <ion-searchbar
      [debounce]="1000"
      animated="true"
      placeholder="Search"
      inputmode="search"
      type="text"
    ></ion-searchbar>

    <!-- <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            size="large"
            slot="icon-only"
            name="menu-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="align-middle">
    <img
      class="no-data-img"
      src="assets/File searching-cuate.svg"
      alt=""
      srcset=""
    />
    <ion-note>Search want you want</ion-note>
  </div>
</ion-content>
