<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Post View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list class="post-container">
    <ion-item lines="full">
      <ion-avatar slot="start" [ngStyle]="{background: '#7c5dfa'}">
        <ion-text>{{postInfo?.postedBy?.name.slice(0,2)}}</ion-text>
      </ion-avatar>
      <ion-label>
        <h2>{{postInfo?.postedBy?.name}}</h2>
        <p>{{postInfo?.postedOn | date:'medium'}}</p>
      </ion-label>
    </ion-item>

    <div *ngIf="postInfo.bgImg">
      <p class="post-title">{{postInfo.title}}</p>
      <img *ngIf="postInfo.bgImg" class="post-image" src="{{postInfo.bgImg}}" />
    </div>

    <div
      *ngIf="!postInfo.bgImg"
      class="post-banner-bg"
      [ngStyle]="{background: postInfo.bgColor}"
    >
      <h2>{{postInfo.title}}</h2>
    </div>

    <quill-view
      [content]="postInfo.description"
      format="json"
      theme="snow"
    ></quill-view>

    <div class="ion-padding">
      <a
        target="_blank"
        *ngFor="let file of postInfo?.attachments"
        href="{{file.downloadURL}}"
        download="{{file.name}}"
      >
        <ion-chip>
          <ion-label>{{file.name}}</ion-label>
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </ion-chip>
      </a>
    </div>

    <ion-item lines="none" class="action-item">
      <ion-buttons slot="start">
        <ion-button (click)="likeButton(postInfo)">
          <ion-icon
            *ngIf="!(postInfo?.likes && postInfo?.likes[this.userInfo.id])"
            slot="icon-only"
            name="heart-outline"
          ></ion-icon>

          <ion-icon
            *ngIf="(postInfo?.likes && postInfo?.likes[this.userInfo.id])"
            slot="icon-only"
            name="heart"
            color="danger"
          ></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="navigate-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-note>{{postInfo?.attachments?.length}} Files</ion-note>
        <ion-button>
          <ion-icon slot="icon-only" name="document-attach-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="saveButton(postInfo)">
          <ion-icon
            *ngIf="!(postInfo?.saved && postInfo?.saved[this.userInfo.id])"
            slot="icon-only"
            name="bookmark-outline"
          ></ion-icon>

          <ion-icon
            *ngIf="postInfo?.saved && postInfo?.saved[this.userInfo.id]"
            slot="icon-only"
            name="bookmark"
            color="warning"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <div class="action-item-info">
      <div>{{postInfo?.likes?.count || '0'}} Likes</div>
      <div class="row-item">
        <div>{{postInfo?.comments?.length}} comments</div>
        <!-- <div class="spliter">|</div>
        <div>10 share</div> -->
        <div class="spliter">|</div>
        <div>{{postInfo?.saved?.count || '0'}} saved</div>
      </div>
    </div>
  </ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Comments</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let comment of postInfo.comments">
      <ion-avatar slot="start" [ngStyle]="{background: '#7c5dfa'}">
        <ion-text>{{comment?.userInfo.name?.slice(0,2) || 'AD'}}</ion-text>
      </ion-avatar>
      <ion-label class="ion-text-wrap message-bubble">
        <ion-row class="ion-justify-content-between">
          <ion-col class="cust-col">
            <h3>{{ comment?.userInfo?.name || 'Admin' }}</h3>
          </ion-col>
          <ion-col class="cust-col timestamp">
            <ion-text
              >{{ comment.timestamp | date:'dd/MM/yyyy hh:mm a' }}</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-note>{{ comment.text }}</ion-note>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input placeholder="Enter comment" [(ngModel)]="comment"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="sendComment()">
          Send <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
