.action-item {
  margin-left: -12px;
  margin-right: -12px;
  border-top: 1px solid #ddd;
}

.post-image {
  max-height: 220px;
  width: 100%;
}

.post-banner-bg {
  height: 220px;
  // max-height: 220px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;

  h2 {
    overflow-y: hidden;
    max-height: -webkit-fill-available;
    text-transform: capitalize;
    text-align: center;
  }
}

.post-content {
  padding: 0 10px;
}

.post-container {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.action-item-info {
  border-top: 1px solid #ddd;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: small;
}

.row-item {
  display: flex;
  justify-content: space-around;
}

.spliter {
  padding: 0 8px;
}

.message-bubble {
  display: block;
  // background-color: #ebf4ff;

  background-color: rgb(124 93 250 / 10%);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  max-width: 90%;
  text-align: left;
}

.username {
  font-size: 12px;
  font-weight: bold;
  color: #3e3e3e;
}

.cust-col {
  padding: 0;
}

.timestamp {
  text-align: right;
  font-size: 12px;
  color: #7a7474;
}

ion-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.post-title {
  padding: 0 10px;
}
