<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large" color="light">User Management</ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            size="large"
            slot="icon-only"
            name="menu-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        class="btn"
        color="light"
        routerLink="/menu-layout/user-management/add-user"
      >
        <ion-icon name="add-outline"></ion-icon>
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="(!isLoading && userList?.length===0)">
    <div class="align-middle">
      <img
        class="no-data-img"
        src="assets/File searching-pana.svg"
        alt=""
        srcset=""
      />
      <ion-note>No {{activeTab}} user found</ion-note>
    </div>
  </ng-container>
  <ion-list lines="">
    <ng-container *ngIf="isLoading">
      <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <ion-avatar slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%"
            ></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 60%"
            ></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 30%"
            ></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="!isLoading">
      <ion-item *ngFor="let user of userList">
        <ion-avatar slot="start" [ngStyle]="{background: '#7c5dfa'}">
          <ion-text>{{user.name.slice(0,2)}}</ion-text>
        </ion-avatar>
        <ion-label>
          <h2>{{user.name}}</h2>
          <h4>{{user.designation}} | {{user.department}}</h4>
          <p>{{user.email}}</p>
          <p *ngIf="activeTab==='inactive'">
            Disabled on : {{user?.inactiveOn | date:'medium'}}
          </p>
        </ion-label>

        <ion-buttons slot="end">
          <ion-button
            *ngIf="activeTab==='pending' || activeTab==='spam'"
            (click)="updateUserStatus(user.id,'active')"
          >
            <ion-icon
              slot="icon-only"
              color="success"
              name="checkmark-circle-outline"
            ></ion-icon>
          </ion-button>
          <ng-container *ngIf="activeTab==='pending'">
            <ion-button (click)="updateUserStatus(user.id,'spam')">
              <ion-icon
                slot="icon-only"
                color="danger"
                name="warning-outline"
              ></ion-icon>
            </ion-button>
          </ng-container>

          <ion-button
            color="danger"
            *ngIf="activeTab==='active'"
            (click)="updateUserStatus(user.id,'inactive')"
          >
            <ion-icon
              slot="icon-only"
              color="medium"
              name="remove-circle-outline"
            ></ion-icon>
          </ion-button>

          <ion-button
            *ngIf="activeTab==='spam'"
            (click)="updateUserStatus(user.id,'deleted')"
          >
            <ion-icon
              slot="icon-only"
              color="danger"
              name="trash-outline"
            ></ion-icon>
          </ion-button>

          <!-- <ion-icon name="remove-circle-outline"></ion-icon> -->
        </ion-buttons>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment
      value="{{activeTab}}"
      (ionChange)="handleChange($event)"
      color="primary"
    >
      <ion-segment-button value="pending" layout="icon-top">
        <ion-label class="segment-label" color="warning">Pending</ion-label>
        <ion-icon color="warning" name="help-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="active" layout="icon-top">
        <ion-label class="segment-label" color="success">Active</ion-label>
        <ion-icon color="success" name="shield-checkmark-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="spam" layout="icon-top">
        <ion-label class="segment-label" color="danger">Spam </ion-label>
        <ion-icon color="danger" name="warning-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="inactive" layout="icon-top">
        <ion-label class="segment-label" color="medium">InActive</ion-label>
        <ion-icon color="medium" name="information-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
