ion-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.segment-label {
  text-transform: capitalize;
  font-size: 15px;
}

.align-middle {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nodata {
  color: grey;
}

.no-data-img {
  width: 270px;
  margin-bottom: 10px;
}
